body{
  margin:0px;
  padding:0px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
  display: flex;
  justify-content:center;
}
.container{
  margin-top: 10%;
  background-color: #fff;
  padding:3% 5%;
  border-radius:15px;
}
.header-heading{
  font-size:2.5rem;
  text-align: center;
  background: #121FCF;
  //background: linear-gradient(to right, #121FCF 0%, #71C4FFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row{
  display: flex;
  flex-direction: row;
  height:24em;
}
.col-left{
  padding-left:4%;
  width:140px;
  text-align: center;
  overflow-y: scroll;
}
.col-left::-webkit-scrollbar {
  width: 0.3em;
}
.col-left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.col-left::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
  outline: 1px solid #eee;
}
.col-right{
  width:200px;
}
.list-item{
  padding:0px;
}
.list-element{
  list-style: none;
  text-align: left;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #71C4FFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-col-up{
  padding-bottom:10%;
}
.right-col-up{
  display: flex;
  flex-direction: column;
}
.text-input{
  padding:6px;
  height:25px;
  border:2px solid #121FCF;
  border-radius:5px;
  outline: none;
}
.add-btn,.play-btn{
  font-size:1rem;
  padding:10px;
  border:0px;
  color:#fff;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #71C4FFFF 100%);
  border-radius: 5px;
  margin-top:2%;
  outline:none;
}
.right-col-down{
  border-top:2px solid #121FCF;
  padding-top:5%;
}
.play-btn{
  margin-left:30%;
  width:50%;
}
.selected-name,.task{
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #71C4FFFF 10%,#121FCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
